.examenes_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5.93rem;
}

.examenes_cardCont {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

.examenes_title {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.examenes_subtitle {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

.examenesCard_bgGreen {
    background-color: #0ECECEB2 !important;
}

.examenesCard_bgBlack {
    background-color: #000000 !important;
}

.examenesCard_bgPink {
    background-color: #FA68D199 !important;
}

/* Media Queries */
@media(max-width:850px) {
    .examenes_cardCont {
        flex-direction: column;
    }
}