.dropdown_wrapper {
    width: 27rem;
    position: relative
}

.dropdown_selectBtn,
.dropdown_options li {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.dropdown_selectBtn {
    height: 2.62rem;
    font-size: 1rem;
    padding: 0 20px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #222221;
    justify-content: space-between;
}

.dropdown_selectBtn svg {
    transition: transform 0.3s linear;
}

.dropdown_content {
    display: none;
    padding: 8px 16px;
    border-radius: 10px;
    margin-top: 6px;
    background-color: #222221;
    position: absolute;
    z-index: 1;
}   

.dropdown_contentActive {
    display: block;
}

.dropdown_icon {
    transform: rotate(-180deg);
}

.dropdown_options {
    max-height: 250px;
    overflow-y: auto;
}

.dropdown_options::-webkit-scrollbar {
    width: 7px;
}

.dropdown_options::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 25px;
}

.dropdown_options::-webkit-scrollbar-thumb {
    background-color: #c2c1c1;
    border-radius: 25px;
}

.dropdown_options li {
    height: 30px;
    padding: 0 6px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

.dropdown_options li:hover {
    background-color: #fff;
    color: #222221;
    width: 100%;
}

.dropdown_options li input {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.dropdown_optionsSub {
    font-weight: 700;
    margin-bottom: 10px;
}

.dropdown_optionsSub:hover {
    background-color: #222221!important;
    color: #ffffff!important;
}