.main{
    background:#0ececeb9;
    display: flex;   
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    color: #ffffff;
    border-radius: 20px;
    padding: 3rem;
    gap: 1rem;
    flex-wrap: wrap;
    
}


.programUl{

    width: 300px;
    border-right: 2px solid #D9D9D9;
}

.programLi{
    list-style: none;    
    padding-right: 10px;
}


@media (max-width: 1750px) {

    .programUl{        

        border-bottom: 3px solid #D9D9D9;
    }
  }
  
@media (max-width: 670px) {

    .programUl{        
        border-right: none;        
    }
  }
  