.profile_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 21.75rem;
}

label {
    color: #FFFFFF;
}

.profile_pictureContainer {
    position: relative;
}

.profile_pictureContainer img {
    width: 251px;
    height: 202px;
    object-fit: cover;
    border-radius: 20px;
}

.profile_labelImg {
    position: absolute;
    bottom: 0;
    right: 0.7rem;
    background-color: #FFFFFF;
    padding: 6px;
    border-radius: 50px;
    cursor: pointer;
}

.profile_uploadImage {
    display: none;
}

.profile_confirmImg {
    display: flex;
    justify-content: end;
}

.profile_confirmImg button {
    border: none;
    border-radius: 20px;
    background-color: rgb(203, 141, 241);
    font-weight: bold;
    padding: 4px 20px;
    margin-top: 6px;
}

.profile_title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 17px 0 24px 16px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.profile_input {
    width: 100%;
    max-width: 16rem;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 11px;
    text-align: center;
}

.profile_input:disabled {
    background-color: #FFFFFF;
}


/* Media Queries */

@media(max-width: 1200px) {
    .profile_pictureContainer img {
        width: 200px;
    }

    .profile_labelImg {
        position: absolute;
        bottom: 0;
        right: 1.8rem;
    }
}

@media(max-width: 1130px) {
    .profile_container {
        margin-bottom: 20px;
    }
}

@media(max-width: 700px) {
    .profile_container {
        background-color: #0ECECEB2;
        border-radius: 20px;
        padding: 20px;
    }
}
