.main {
    background: #0ececeb9;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
    color: #ffffff;
    border-radius: 20px;
    padding: 3rem;
    flex-wrap: wrap;
    position: relative;
}

.inputBuscar {
    border: none;
    background: none;
    outline: none;
}

.divBuscar {
    border-radius: 20px;
    background: #ffffff;
    height: 40px;
    color: #9C9999;
    padding-left: 25px;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.divBuscar:focus-within {
    border: 2px solid black;
}


.divBody {
    display: flex;
    width: 100%;
    border-top: 1px solid #FFFFFF;
    margin-top: 15px;
    height: 100%;
}

.dicContacto {
    width: 20%;
    border-right: 1px solid #FFFFFF;
    text-align: center;
}

.liConatct{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    font-weight: bold;
    color: #474747;
    cursor: pointer;
}

.activo{
    background: #D9D9D999;
    border-radius: 5px;
    width: 182px;    
}

.divLiConatct{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.divSms {
    width: 80%;
    text-align: center;
}

.divForm{
    min-height: 150px;
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    align-items: start;
}

.divFormSpan{
    background: #FFFFFF;
    color: black;
    padding: 5px;
    border-radius: 5px;
    
}

.divSmsInput {
    position: absolute;
    bottom: 20px;
    width: 70%;
}

.inputSms {    
    max-height: .7in;
    min-height: .7in;  
    width: 90%;  
    border-radius: 20px;
    outline: none;
    padding: 20px;
}

.btnSms {
    border: none;
    background: #FFFFFF;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    right: 0;   
  }

  @media (max-width: 700px) {
    .dicContacto{
        display: none;
    }

    .divSms{ 
        width: 100%; 
        justify-content: center;
    }

    .inputSms{
        width: 100%;
    }
    
  }