.exam_card {
    color: #fff;
    width: 23.75rem!important;
    height: 8.12rem!important;
    justify-content: center;
}

.exam_cardImage {
    width: 113px!important;
    height: 90px!important;
}

.exam_cardText {
    text-align: center;
    font-weight: 500;
}