.exam_card {
    color: #fff;
    background-color: #9C9999!important;
    width: 23.75rem!important;
    height: 8.12rem!important;
    justify-content: center;
}

/* .exam_card-row {
    align-items: center;
} */

.exam_cardImage {
    width: 113px!important;
    height: 90px!important;
}

.exam_cardText {
    text-align: center;
}