.consult_container {
    max-width: 53.43rem;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 20px;
    margin-top: 17px;
    background-color: #0ECECE8F;
}

.consult_subtitle {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    margin-bottom: 2rem;
}

.consult_interviewButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.consult_interviewButton button {
    gap: 11px;
    width: 100%;
    max-width: 300px;
    height: 42px;
    border-radius: 20px;
    border: none;
    background-color: #222221;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.consult_inputName input {
    width: 100%;
    max-width: 50.12rem;
    max-height: 2.62rem;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 24px;
}

.consult_inputTel {
    width: 100%;
    max-width: 20.87rem;
    max-height: 2.62rem;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 24px;
    margin-right: 13px;
}

.consult_inputEmail {
    width: 100%;
    max-width: 28.30rem;
    max-height: 2.62rem;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 24px;
    margin-right: 13px;
}

.consult_checkboxContainer {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 1rem;
}

.consult_checkboxText {
    font-size: 1.27rem;
    color: #000000;
    font-weight: 600;
}

.checkEmail_text,
.checkTel_text {
    font-size: 1.25rem;
}

.consult_checkboxEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    width: 100%;
    max-width: 200px;
    height: 42px;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.consult_checkboxTel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    width: 100%;
    max-width: 200px;
    height: 42px;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.consult_checkboxEmail input,
.consult_checkboxTel input {
    width: 1.62rem;
    height: 1.62rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    font-size: 2rem;
}

.consult_select {
    width: 100%;
    max-width: 27rem;
    height: 2.62rem;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    margin-bottom: 15.68px;
    border-right: 20px solid transparent;
}

.consult_optionsBg {
    background-color: #222221;
    color: #fff;
}

textarea {
    width: 100%;
    max-width: 50.12rem;
    height: 19.12rem;
    border-radius: 20px;
    padding: 20px;
}

.submit_container {
    display: flex;
    justify-content: center;
    margin-top: 23px;
}

.submit_container input {
    width: 100%;
    max-width: 9.87rem;
    height: 2.25rem;
    border-radius: 40px;
    border: none;
    color: #fff;
    background-color: #222221;
    font-weight: 700;
}

.modal_container div {
    border-radius: 20px!important;
    border: none!important;;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px!important;
    background: #222221;
    border: none!important;
}

.modal_button {
    width: 100%;
    max-width: 158px;
    height: 36px;
    border-radius: 20px;
    background-color: #CB8DF1;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    border: none;
}


/* Media Queries */

@media(max-width: 1320px) {
    .consult_inputTel {
        max-width: 50.12rem;
    }
    
    .consult_inputEmail {
        max-width: 50.12rem;
    }
}

@media(max-width: 700px) {
    .consult_checkboxContainer {
        flex-direction: column;
    }

    .consult_checkboxText {
        font-size: 1.2rem;
    }

    .checkEmail_text,
    .checkTel_text {
    font-size: 1rem;
    }
}
