.consult_wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Media Queries */

@media(max-width: 900px) {
    .consult_wrapper {
        align-items: center;
    }
}