.contTalsk{
    background: #0ececeb9;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.contSesion{
    display: flex;   
    gap: 1rem; 
}

.divUnidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none; 
    text-align: center;   
    cursor: pointer;     
    gap: 1.5rem;
    border: none; 
    border: 2px solid transparent;       
    width: 20%; 
}

.divUnidad span{
    width: 150px;
    
}

.divCont{
    width:80%;
}

.activo{
    background-color: #D9D9D999;
    border-radius: 5px;
    padding: 10px;
    margin-left: 0px;
    height: 40px;
    border: none;
}

@media (max-width: 1850px) {
    .contSesion{
        flex-direction: column;        
    }

    .divUnidad{
        flex-direction: row;  
        flex-wrap: wrap;
        width: 100%; 
    }

    .divCont{
        width: 100%;
    }

  }