.clases_padding {
    padding: 100px;
}

.clases_margin {
    margin-top: 2.37rem;
    display: flex;
}

.clases_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.12rem;
}

.clases_text {
    width: 100%;
    max-width: 500px;
    margin-top: 1.75rem;
    color: #FFFFFF;
}

.form_section {
    margin-left: 5rem;
    width: 100%;
    max-width: 464px;
}

.form_container {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 25px;
    background: rgba(14, 206, 206, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
=======
    align-items: center;
>>>>>>> backend-develop
}

.input_container {
    margin-bottom: 24px;
}

.input_container input {
    width: 100%;
    max-width: 27rem;
    height: 2.62rem;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding: 0 20px;
}

.submit_container {
    display: flex;
    justify-content: center;
}

.submit_container input {
    width: 100%!important;
    max-width: 9.87rem!important;
    height: 2.25rem;
    border-radius: 40px;
    border: none;
    color: #fff;
    background-color: #222221;
    font-weight: 700;
}

/* Media Queries */

@media(max-width: 1200px) {
    .form_section {
        margin-left: 1rem;
    }
}

@media(max-width: 900px) {
    .form_section {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .clases_margin {
        margin-top: 2.37rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clases_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .clases_text {
        text-align: center;
        width: 100%;
        max-width: 1000px;
    }

    .clases_padding {
        padding: 10px;
    }
}


@media(max-width: 700px) {
    .clases_padding {
        padding: 10px;
    }
}

